<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
		<meta name="description" content="<%= current_page.data.description %>"/>
		<meta name="keywords" content="Canadian income taxes, income tax return, efiling, tax services, tax advisor, tax assistance, Chilliwack, Fraser Valley, British Columbia, Canada">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">		<title><%= current_page.data.title || "Monty's Income Tax Services" %></title>
    <%= stylesheet_link_tag "site" %>
		<%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>
		<%= partial "partials/footer" %>
  </body>
	<script>
		function initMap() {
		  var montys = {lat: 49.169639, lng: -121.941281};
		  var map = new google.maps.Map(
		      document.getElementById('map'), {zoom: 15, center: montys});
		  var marker = new google.maps.Marker({position: montys, map: map});
		}
	</script>
	<script async
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzZ-yG3tL0ylOocv_d7xShBSxvKMxSlew&callback=initMap">
	</script>
</html>
