<section class="advantages-cta">
	<ul class="advantages-showcase top">
		<li>
			<figure class="advantages-photo">
				<%= image_tag 'images/hero-index.jpg' %>
			</figure>
		</li>
		<li class="advantages-caption">
			<h3><%= data.home.advan_overview.one %></h3>
		</li>
		<li>
			<figure class="advantages-photo">
				<%= image_tag 'images/hero-index.jpg' %>
			</figure>
		</li>
	</ul>
	<ul class="advantages-showcase">
		<li class="advantages-caption">
			<h3><%= data.home.advan_overview.two %></h3><br>
			<div class="advantages-fine-print">
				<%= data.home.advan_overview.fine_print %>
			</div>
		</li>
		<li>
			<figure class="advantages-photo">
				<%= image_tag 'images/hero-index.jpg' %>
			</figure>
		</li>
		<li class="advantages-caption">
			<%= link_to data.home.advan_overview.cta_btn, "#", class: "btn btn-full" %>
			<h3 class="advantages-more-info"><%= data.home.advan_overview.cta %></h3>
		</li>
	</ul>
</section>
