<section class="ben__section">
	<div class="ben__container">
		<div class="ben__photo"></div>
		<div class="ben__content">
			<h2 class="ben__heading"><%= data.home.benefit.heading %></h2>
			<div class="ben__list">
				<p><%= data.home.benefit.one %></p>
				<p><%= data.home.benefit.two %><span>*</span></p>
				<p><%= data.home.benefit.three %></p>
				<%= link_to data.home.benefit.cta_btn, data.other.nav.link_3, class: "btn btn-full ben__btn" %>
			</div>
			<p class="ben__print"><%= data.home.benefit.fine_print %></p>
		</div>
	</div>
</section>
