<footer>
	<div class="footer__text">
		<ul class="footer__nav">
			<li><%= link_to "Home", "#" %></li>
			<li><%= link_to "About Us", "#" %></li>
			<li><%= link_to "Contact", "#" %></li>
			<li><%= link_to "Privacy Policy", "#" %></li>
		</ul>
		<p>Copyright &copy; <%= Date.today.year %> Monty's Income Tax Services.</p>
	</div>
	<div class="footer__logo">
		<%= image_tag "images/footer_logo.png", alt: "Monty's Income Tax Services secondary logo" %>
	</div>
</footer>
