<footer>
	<div class="footer__text">
		<ul class="footer__nav">
			<li><%= link_to data.other.nav.label_1, data.other.nav.link_1 %></li>
			<li><%= link_to data.other.nav.label_2, data.other.nav.link_2 %></li>
			<li><%= link_to data.other.nav.label_3, data.other.nav.link_3 %></li>
		</ul>
		<p>Copyright &copy; <%= Date.today.year %> Monty's Income Tax Services.</p>
	</div>
	<div class="footer__logo">
		<%= image_tag "images/footer_logo.png", alt: "Monty's Income Tax Services secondary logo" %>
	</div>
</footer>
