<footer class="footer__container">
	<div class="footer__upper">
		<ul class="footer__nav">
			<li><%= link_to data.other.nav.label_1, data.other.nav.link_1 %></li>
			<li><%= link_to data.other.nav.label_2, data.other.nav.link_2 %></li>
			<li><%= link_to data.other.nav.label_3, data.other.nav.link_3 %></li>
			<li><%= link_to data.other.nav.label_4, data.other.nav.link_4 %></li>
		</ul>
		<div class="footer__logo">
			<%= image_tag "images/footer_logo.png", alt: "Monty's Income Tax Services secondary logo" %>
		</div>
	</div>
	<div class="footer__lower">
		<div class="footer__lower--left">
			<div class="footer__credits">
				<p class="footer__cred--label"><%= data.other.footer.credit_title %></p>
				<% link_to data.other.footer.credit_link, class: "footer__cred--link", target: "_blank" do %>
						<svg class="icon camera">
							<use xlink:href="#icon-camera"></use>
						</svg>
						<p class="footer__cred--name"><%= data.other.footer.credit_1 %></p>
				<% end %>
			</div>
			<p class="footer__copyright"><%= data.other.footer.copyright %> <%= Date.today.year %> <%= data.other.footer.company %></p>
		</div>
		<div class="footer__lower--right">
			<div class="footer__divider"></div>
			<div class="footer__social--icons">
				<% link_to data.other.footer.fb_link, class: "footer__social--link", target: "_blank" do %>
					<svg class="icon social">
						<use xlink:href="#icon-facebook"></use>
					</svg>
				<% end %>
				<% link_to data.other.footer.yelp_link, class: "footer__social--link", target: "_blank" do %>
					<svg class="icon social">
						<use xlink:href="#icon-yelp"></use>
					</svg>
				<% end %>
			</div>
		</div>
	</div>
</footer>
