<header style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(<%= img %>)">
	<%= partial(:'partials/nav', :locals => { :colour => "none" }) %>
	<div class="hero__section">
		<div class="hero__group">
			<h1 class="hero__title"><%= title %></h1>
			<% if locals[:break_text] %>
				<h1 class="hero__title--break"><%= break_text %></h1>
			<% end %>
			<div class="hero__btns">
				<% if locals[:class_full] %>
					<%= link_to btn_full, "#", class: "btn btn-full", id: class_full %>
				<% else %>
					<%= link_to btn_full, "/", class: "btn btn-full" %>
				<% end %>
				<% if locals[:btn_clear] %>
					<%= link_to btn_clear, "#", class: "btn btn-transparent", id: class_clear %>
				<% end %>
			</div>
		</div>
	</div>
</header>
