<nav style="background-color: <%= colour %>" class="nav__bar">
	<div class="nav__logo">
		<% link_to "/index.html", class: "logo__group" do %>
			<%= image_tag "images/logo.png", alt: "Monty's Income Tax Services logo", class: "logo__logo" %>
			<ul class="logo__text">
				<li><%= data.other.nav.logo_text_1 %></li>
				<li><%= data.other.nav.logo_text_2 %></li>
				<li><%= data.other.nav.logo_text_3 %></li>
			</ul>
		<% end %>
	</div>
	<ul class="nav__items js-main-nav">
		<li><%= link_to data.other.nav.label_1, data.other.nav.link_1 %></li>
		<li><%= link_to data.other.nav.label_2, data.other.nav.link_2 %></li>
		<li><%= link_to data.other.nav.label_3, data.other.nav.link_3 %></li>
	</ul>
	<% link_to "#", class: "mobile__nav__icon js-nav-icon" do %>
		<svg class="icon nav">
			<use xlink:href="#icon-menu"></use>
		</svg>
	<% end %>
</nav>
