<section class="privacy__container">
	<h1 class="privacy__heading--main"><%= data.privacy.policy.heading %></h1>
	<p class="privacy__content">
		<%= data.privacy.policy.heading_txt_1 %>
		<%= link_to data.privacy.policy.heading_txt_2, data.other.nav.link_1 %>
		<%= data.privacy.policy.heading_txt_3 %>
	</p>
	<p class="privacy__content"><%= data.privacy.policy.heading_txt_3 %></p>
	<div class="privacy__table">
		<h2 class="privacy__heading--sub"><%= data.privacy.policy.table_heading %></h2>
		<ol class="privacy__list--table">
			<% data.privacy.toc_headings.each do |h| %>
				<% h.iden.each do |i| %>
					<li><%= link_to h.title, "#{i.tag}" %></li>
				<% end %>
			<% end %>
		</ol>
	</div>
	<h2 class="privacy__heading--sub" id="sub_heading_0"><%= data.privacy.policy.sub_heading_1 %></h2>
	<p class="privacy__content"><%= data.privacy.policy.sub_1_txt %></p>
	<h2 class="privacy__heading--sub" id="sub_heading_1"><%= data.privacy.policy.sub_heading_2 %></h2>
	<p class="privacy__content"><%= data.privacy.policy.sub_2_txt_1 %></p>
	<ul class="privacy__list">
	<li><%= data.privacy.policy.sub_2_txt_2 %></li>
	<li><%= data.privacy.policy.sub_2_txt_3 %></li>
	<li><%= data.privacy.policy.sub_2_txt_4 %></li>
	</ul>
	<p class="privacy__content"><%= data.privacy.policy.sub_2_txt_5 %></p>
	<h2 class="privacy__heading--sub" id="sub_heading_2"><%= data.privacy.policy.sub_heading_3 %></h2>
	<p class="privacy__content"><%= data.privacy.policy.sub_3_txt %></p>
	<h2 class="privacy__heading--sub" id="sub_heading_3"><%= data.privacy.policy.sub_heading_4 %></h2>
	<p class="privacy__content"><%= data.privacy.policy.sub_4_txt_1 %></p>
	<ul class="privacy__list">
		<li><%= data.privacy.policy.sub_4_txt_2 %></li>
		<li><%= data.privacy.policy.sub_4_txt_3 %></li>
	</ul>
	<p class="privacy__content"><%= data.privacy.policy.sub_4_txt_4 %></p>
	<p class="privacy__content"><%= data.privacy.policy.sub_4_txt_5 %></p>
	<h2 class="privacy__heading--sub" id="sub_heading_4"><%= data.privacy.policy.sub_heading_5 %></h2>
	<p class="privacy__content"><%= data.privacy.policy.sub_5_txt %></p>
	<h2 class="privacy__heading--sub" id="sub_heading_5"><%= data.privacy.policy.sub_heading_6 %></h2>
	<p class="privacy__content"><%= data.privacy.policy.sub_6_txt_1 %></p>
	<p class="privacy__content"><%= data.privacy.policy.sub_6_txt_2 %></p>
	<h2 class="privacy__heading--sub" id="sub_heading_6"><%= data.privacy.policy.sub_heading_7 %></h2>
	<p class="privacy__content"><%= data.privacy.policy.sub_7_txt %></p>
	<h2 class="privacy__heading--sub" id="sub_heading_7"><%= data.privacy.policy.sub_heading_8 %></h2>
	<p class="privacy__content"><%= data.privacy.policy.sub_8_txt %></p>
	<h2 class="privacy__heading--sub" id="sub_heading_8"><%= data.privacy.policy.sub_heading_9 %></h2>
	<p class="privacy__content"><%= data.privacy.policy.sub_9_txt %></p>
	<h2 class="privacy__heading--sub" id="sub_heading_9"><%= data.privacy.policy.sub_heading_10 %></h2>
	<p class="privacy__content"><%= data.privacy.policy.sub_10_txt %></p>
	<h2 class="privacy__heading--sub" id="sub_heading_10"><%= data.privacy.policy.sub_heading_11 %></h2>
	<p class="privacy__content"><%= data.privacy.policy.sub_11_txt %></p>
	<h2 class="privacy__heading--sub" id="sub_heading_11"><%= data.privacy.policy.sub_heading_12 %></h2>
	<p class="privacy__content"><%= data.privacy.policy.sub_12_txt %></p>
	<h2 class="privacy__heading--sub" id="sub_heading_12"><%= data.privacy.policy.sub_heading_13 %></h2>
	<p class="privacy__content"><%= data.privacy.policy.sub_13_txt %></p>
	<h2 class="privacy__heading--sub" id="sub_heading_13"><%= data.privacy.policy.sub_heading_14 %></h2>
	<p class="privacy__content">
		<%= data.privacy.policy.sub_14_txt_1 %>
		<%= link_to data.privacy.policy.sub_14_txt_2, data.other.nav.link_3 %>.</p>
	<p class="privacy__content updated"><%= data.privacy.policy.sub_14_txt_3 %></p>
</section>
