<section class="svcs__section js-section-services">
	<div class="svcs__heading">
		<h2><%= data.home.svcs.heading %></h2>
		<p class="gen__intro"><%= data.home.svcs.intro %></p>
	</div>
	<div class="svcs__content">
		<div class="svcs__offer">
			<ion-icon name="reader-outline"></ion-icon>
			<h3><%= data.home.svcs.title_one %></h3>
			<p><%= data.home.svcs.desc_one %></p>
		</div>
		<div class="svcs__offer">
			<ion-icon name="trail-sign-outline"></ion-icon>
			<h3><%= data.home.svcs.title_two %></h3>
			<p><%= data.home.svcs.desc_two %></p>
		</div>
		<div class="svcs__offer">
			<ion-icon name="calculator-outline"></ion-icon>
			<h3><%= data.home.svcs.title_three %></h3>
			<p><%= data.home.svcs.desc_three %></p>
		</div>
		<div class="svcs__offer">
			<ion-icon name="people-outline"></ion-icon>
			<h3><%= data.home.svcs.title_four %></h3>
			<p><%= data.home.svcs.desc_four %></p>
		</div>
	</div>
</section>
