<section class="svcs__section js-section-services">
	<div class="svcs__heading">
		<h2><%= data.home.svcs.heading %></h2>
		<p class="gen__intro"><%= data.home.svcs.intro %></p>
	</div>
	<div class="svcs__content">
		<div class="svcs__offer">
			<svg class="icon">
				<use xlink:href="#icon-text-document"></use>
			</svg>
			<h3><%= data.home.svcs.title_one %></h3>
			<p><%= data.home.svcs.desc_one %></p>
		</div>
		<div class="svcs__offer">
			<svg class="icon">
				<use xlink:href="#icon-address"></use>
			</svg>
			<h3><%= data.home.svcs.title_two %></h3>
			<p><%= data.home.svcs.desc_two %></p>
		</div>
		<div class="svcs__offer">
			<svg class="icon">
				<use xlink:href="#icon-calculator"></use>
			</svg>
			<h3><%= data.home.svcs.title_three %></h3>
			<p><%= data.home.svcs.desc_three %></p>
		</div>
		<div class="svcs__offer">
			<svg class="icon">
				<use xlink:href="#icon-users"></use>
			</svg>
			<h3><%= data.home.svcs.title_four %></h3>
			<p><%= data.home.svcs.desc_four %></p>
		</div>
	</div>
	<div class="svcs__nomore">
		<span class="text--bold">PLEASE NOTE:</span> Monty's no longer offers tax services surrounding 
		<span class="text--bold">T2 Corporation Tax</span> and <span class="text--bold">T3 Trust Income Tax</span>
		Returns. Thank you for your understanding.
	</div>
</section>
