<section class="team__section js-section-team">
	<div class="team__heading">
		<h2><%= data.about.team.heading %></h2>
	</div>
	<div class="card__container">
		<div class="card__individual team">
			<%= image_tag 'images/lona.jpg', alt: "Owner, operator, and partner, Lona", class: "team__img" %>
			<h3 class="card__heading team"><%= data.about.team.member_1 %></h3>
			<p class="card__para"><%= data.about.team.lona_disc_1 %></p>
			<p class="card__para"><%= data.about.team.lona_disc_2 %></p>
		</div>
		<div class="card__individual team">
			<%= image_tag 'images/monty_dog.jpg', alt: "Monty the dog, namesake of the business", class: "team__img" %>
			<h3 class="card__heading team"><%= data.about.team.member_2 %></h3>
			<p class="card__para"><%= data.about.team.monty_disc_1 %></p>
			<p class="card__para"><%= data.about.team.monty_disc_2 %></p>
		</div>
		<div class="card__individual team">
			<%= image_tag 'images/bruce.jpg', alt: "Owner, operator, and partner, Bruce", class: "team__img" %>
			<h3 class="card__heading team"><%= data.about.team.member_3 %></h3>
			<p class="card__para"><%= data.about.team.bruce_disc_1 %></p>
			<p class="card__para"><%= data.about.team.bruce_disc_2 %></p>
		</div>
	</div>
</section>
