<section class="journey__section">
	<h2><%= data.home.journey.heading %></h2>
	<div class="journey__container--top">
		<div class="journey__group--one">
			<div class="journey__number"><%= data.home.journey.num_one %></div>
			<div class="journey__content">
				<%= link_to data.home.journey.link_label, "#" %><%= data.home.journey.content_one %>
			</div>
		</div>
		<div class="journey__group--two">
			<div class="journey__number"><%= data.home.journey.num_two %></div>
			<div class="journey__content"><%= data.home.journey.content_two %></div>
		</div>
	</div>
	<div class="journey__container--bottom">
		<div class="journey__group--three">
			<div class="journey__number"><%= data.home.journey.num_three %></div>
			<div class="journey__content"><%= data.home.journey.content_three %></div>
		</div>
		<div class="journey__group--four">
			<div class="journey__number"><%= data.home.journey.num_four %></div>
			<div class="journey__content"><%= data.home.journey.content_four %></div>
		</div>
	</div>
</section>
