---
title: Monty's Income Tax Services
---

<header>
	<nav>
		<div class="row">
			<div class="logo-group">
				<img src="images/logo.png" alt="Monty's Income Tax Services logo" class="logo">
				<ul class="logo-text">
					<li>Monty's</li>
					<li>Income Tax</li>
					<li>Services</li>
				</ul>
			</div>
			<ul class="main-nav">
				<li><%= link_to "Our Services", "#" %></li>
				<li><%= link_to "About Us", "#" %></li>
				<li><%= link_to "Contact", "#" %></li>
			</ul>
		</div>
	</nav>
	<div class="hero-text">
		<h1>our best results on your tax return,<br>at fair prices</h1>
		<%= link_to "Something", "#", class: "btn btn-full" %>
		<%= link_to "Something else", "#", class: "btn btn-transparent" %>
	</div>
</header>
